.wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#light {
    background: white;
    color: black;
}

#dark {
    background: #222222;
    color: white;
}

.start__btn {
    font-size: 24px;
    width: 300px;
    height: 50px;
    color: #fff;
    margin-bottom: 25px;
    cursor: pointer;
    outline: none;
    background: #222222;
    border: 1px solid white;
}

.start__btn:hover {
    background: #fff;
    color: #222222;
    transition: .3s all ease;
}

.stepXO {
        margin-top: 25px;
        font-size: 36px;
}

